@font-face {
  font-family: 'DAGGERSQUARE';
  src:  url('/assets/DAGGERSQUARE.woff2') format('woff2'),
        url('/assets/DAGGERSQUARE.woff') format('woff');
}

body {
  background-color: black;
}

.enhancer-logo {
  height: 6em;
  margin: 1em 2em;
}

.enhancer-blue-bg {
  background-color: #001989;
  color: #ffffff;
}

.enhancer-lb-bg {
  background-color: #82b4e2;
}

.enhancer-main-heading {
  font-family: 'DAGGERSQUARE';
  font-size: 3rem;
}

@media (min-width: 768px) {
  .enhancer-main-heading {
    font-size: 4rem;
  }
}

.enhancer-nav {
  background-color: #c1d4ec;
}

.enhancer-nav .active {
  background-color: #8cb3e0;
}

.enhancer-nav .nav-link {
  color: black;
}

.enhancer-nav .nav-link:hover {
  background-color: #63b9d1;
  color: black;
}

.enhancer-section {
  color: #005289;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
}

.two-columns {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2em;
}

@media (max-width: 640px) {
  .two-columns {
    display: block;
  }
}

.schedule-table {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.schedule-table th {
  text-align: center;
  font-size: larger;
  padding: 0.5em;
}

.schedule-table .timespan {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.schedule-table-full {
  margin-bottom: 1em;
  width: 100%;
}

.schedule-table-full th {
  border: lightgrey 1px solid;
  text-align: center;
  font-weight: normal;
  padding: 0.5em;
}

.schedule-table-full td {
  border: lightgrey 1px solid;
  text-align: center;
}

.schedule-table-full tr:first-child th {
  border: none;
  font-size: larger;
  font-weight: bold;
}

.schedule-table-full .blank-corner {
  border-top: none;
  border-left: none;
}

.schedule-table-full .timespan {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (min-width: 800px) {
  .schedule-table-full .timespan {
    min-width: 8em;
  }

  .schedule-table .timespan {
    min-width: 8em;
  }
}

.schedule-table-full .event-name {
  text-align: center;
  max-width: 20em;
  padding: 0.5em;
  font-weight: bold;
}

.schedule-table-full .presentation-name {
  text-align: left;
  max-width: 20em;
  padding: 0.5em;
  padding-right: 0.5em;
}

.host {
  font-style: italic;
  font-size: small;
}

.sessions-table {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.sessions-table th {
  text-align: center;
}

.sessions-table tr:first-child th {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
}

.sessions-table td {
  padding: 0.5em;
}

.sessions-table .timespan {
  text-align: center;
}

.title-url {
  color: inherit;
  text-decoration: none;
}

.title-url:hover {
  color: inherit;
}

.title-url:visited {
  color: inherit;
}

.want-to-see {
  text-align: center;
}

.want-to-see input {
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.must-see {
  box-shadow: inset 0px 0px 2px 2px green;
}

.cant-see {
  box-shadow: inset 0px 0px 2px 2px red;
}