@font-face {
  font-family: 'DAGGERSQUARE';
  src:  url('/assets/DAGGERSQUARE.woff2') format('woff2'),
        url('/assets/DAGGERSQUARE.woff') format('woff');
}

.enhancer-logo {
  height: 6em;
  margin: 1em 2em;
}

.enhancer-blue-bg {
  background-color: #005289;
  color: #ffffff;
}

.enhancer-lb-bg {
  background-color: #82cde2;
}

.enhancer-main-heading {
  font-family: 'DAGGERSQUARE';
  font-size: 3rem;
}

@media (min-width: 768px) {
  .enhancer-main-heading {
    font-size: 4rem;
  }
}

.enhancer-nav {
  background-color: #c1e3ec;
}

.enhancer-nav .nav-link {
  color: black;
}

.enhancer-nav .nav-link:hover {
  background-color: #63b9d1;
}

.enhancer-section {
  color: #005289;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
}

.schedule-table {
  margin-bottom: 1em;
}

.schedule-table th {
  text-align: center;
  font-size: larger;
  padding: 0.5em;
}

.schedule-table .timespan {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.schedule-table-full {
  margin-bottom: 1em;
  width: 100%;
}

.schedule-table-full th {
  border: lightgrey 1px solid;
  text-align: center;
  font-weight: normal;
  padding: 0.5em;
}

.schedule-table-full td {
  border: lightgrey 1px solid;
  text-align: center;
}

.schedule-table-full th:first-child {
  border: none;
  font-size: larger;
  font-weight: bold;
}

.schedule-table-full .blank-corner {
  border-top: none;
  border-left: none;
}

.schedule-table-full .timespan {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.schedule-table-full .event-name {
  text-align: center;
  max-width: 20em;
  padding: 0.5em;
  font-weight: bold;
}

.schedule-table-full .presentation-name {
  text-align: left;
  max-width: 20em;
  padding: 0.5em;
  padding-right: 0.5em;
}

.host {
  font-style: italic;
  font-size: small;
}

.sessions-table {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.sessions-table th:first-child {
  border: none;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
}

.sessions-table td {
  padding: 0.5em;
}

.sessions-table .timespan {
  text-align: center;
}

.title-url {
  color: inherit;
  text-decoration: none;
}

.title-url:hover {
  color: inherit;
}

.title-url:visited {
  color: inherit;
}