---
title: Contribute | EnhanceR Symposium 2025
layout: layouts/symposium2025
date: Last Modified
---

<h3 class="enhancer-section">Call for contributions</h3>

<p>We are looking for contributions for the EnhanceR Symposium from a range of areas relevant to our community:</p>

<ul>
  <li><b>Show-and-tell sessions:</b> Share software you developed, a specific project, tool or technique. These are 30 Minute sessions including Q&A and discussions.</li>
  <li><b>Workshops:</b> Lead a hands-on session or facilitate a discussion on a topic, 45 or 90 minute sessions.</li>
</ul>

<p>Examples for workshops include, but are not limited to:</p>

<ul>
  <li>Hands-on sessions focusing on specific techniques (e.g., advanced Git workflows).</li>
  <li>Effective data management strategies and techniques.</li>
  <li>Implementing best practices for reproducible, ethical, inclusive, and collaborative data science and research, following principles like those championed by "The Turing Way".</li>
  <li>Strategies for scaling up RSE initiatives within Switzerland.</li>
  <li>Project management methodologies tailored for research software projects.</li>
  <li>Navigating the role and challenges of an RSE.</li>
</ul>

<p>Would you like to help shape the EnhanceR Symposium? Please submit your idea using <a href="https://evaluation-app1.let.ethz.ch/TakeSurvey.aspx?SurveyID=ll3K7p41">the form</a> by June 8th 2025.</p>
