---
title: EnhanceR Symposium 2025
description: An in-person event for members of the Swiss research IT and RSE community, the EnhanceR Symposium provides a platform for professionals to meet, network, and exchange knowledge. Focus topic for 2025 is "Swiss RSE in action".
layout: layouts/symposium2025
date: Last Modified
---
<p class="lead">Join our fourth edition of a yearly meeting of research IT specialists, organized by the EnhanceR association!</p>

<div class="two-columns">
  <div>
    <h3 class="enhancer-section">Event Format</h3>

    <p>
      An in-person event for members of the Swiss research IT and research software engineer community, this symposium provides a platform for professionals to meet, network, and exchange knowledge.
    </p>

    <p>
      Dive deep into the trends of the field, collaborate on shared challenges, and present your innovative projects in engaging show-and-tell sessions.
    </p>

    <p>
      Take the opportunity to share both success and failure stories, learn from your colleagues, and collaborate on advancement of Research Software Engineering in Swiss academia.
    </p>
  </div>
  <div>
    <h4 class="enhancer-section">Focus Areas</h4>
    <ul>
      <li>
        <b>Swiss RSE in action</b>
        <ul>
          <li>Effective data management strategies and techniques</li>
          <li>Best practices reproducible, ethical, inclusive, and collaborative data science and research</li>
          <li>The role and challenges of an RSE</li>
          <li>Scaling up RSE initiatives within Switzerland</li>
          <li>Project management for research software projects</li>
        </ul>
      </li>
    </ul>
    This list is not exhaustive and serves only as examples of topics of interest.
  </div>
</div>

<!--<p>See the <a href="/timetable">full timetable</a>.</p>-->

<h3 class="enhancer-section">Date and Venue</h3>

<p>EnhanceR Symposium is a full-day event on <b>Sep 4th, 2025.</b> The event will hosted at the <b><a href="https://www.heg-fr.ch/en/">HEG-FR</a> in Fribourg</b>.</p>

<p>
  Address:<br>
  School of Management Fribourg<br>
  Chemin du Musée 4<br>
  1700 Fribourg
</p>

<h3 class="enhancer-section">How to participate</h3>

<p>
  The registration for the event is not yet open. In the meantime, you can subscribe to the EnhanceR Seminar <a href="https://lists.enhancer.ch/wws/subscribe/seminar">mailing list</a>. When registration opens, it will be announced there.
</p>

<p>
  If you wish to contribute to the event with organizing a workshop or presenting a show-and-tell session, please <a href="/contributing/">let us know</a> by June 8th 2025.
</p>

<p>
  The event is open to all research IT specialists and research software engineers in Switzerland, whether your organization is part of the EnhanceR network or not.
  Participation is free of charge, but registration is mandatory. Lunch and coffee breaks for participants are sponsored by EnhanceR.
</p>
  
<p>You can also <a href="/assets/symposium.ics">add the event to your calendar</a>.</p>

<h3 class="enhancer-section">Target audience</h3>

<p>
  The event's goal is to connect research IT specialists: experts who empower research by providing specific, advanced IT services.
</p>
<p>
  Examples include research software engineers, high-performance and scientific computing experts, data and information scientists,
  as well as research data management experts, data stewards and data analysis specialists in Swiss higher education institutions, Swiss research institutions
  and private companies that have a focus on serving public academic institutions (e.g. SWITCH).
</p>

{# <h3 class="enhancer-section">Keynote speakers</h3>

<p><b>Mark Wilkinson</b> is the lead author of the primary FAIR Data Principles paper, and lead author on the first paper describing a complete implementation of those principles over legacy data.</p>

<p>He is a founding member of the FAIR Metrics working group, tasked with defining the precise, measurable behaviours that FAIR resources should exhibit,
  and the author of the first software application capable of a fully-automated and objective evaluation of “FAIRness”.</p>

<p><b>Lars Holm Nielsen</b> is Head of Open Science Repositories at CERN IT where he leads Open Science services and projects for large-scale scholarly repositories.
  He built and grew Zenodo.org from a proof of concept to being the world's largest general-purpose research repository supporting researchers around the world in any discipline to share and preserve their research products.
  He further leads the 25 partners InvenioRDM open source repository platform, helping institutions and domains to provide Open Science services.</p>

<p>He has pioneered innovative solutions across research domains for research software citations as well as unlocking FAIR biodiversity data.
  He's work focuses on providing core enabling infrastructure for Open Science to help accelerate scientific discovery and ultimately improve how science is conducted.</p> #}

<h3 class="enhancer-section">Organizers</h3>

<p>
  The <a href="https://www.enhancer.ch/">EnhanceR association</a> is a nationally and internationally recognized network for Swiss research IT expertise. As of 2025, it counts 10 Swiss higher education, infrastructure and research institutions as members.
  Its motto is "Enhancing research through IT expertise."
</p>
<p>
  The mission of EnhanceR is to facilitate research excellence in Switzerland by bringing together Research IT specialist groups from Swiss academic institutions and by organising events such as the annual symposium or virtual seminars.
  The association also aims to support and cooperate with other communities involved in supporting Swiss research through technical skills and knowledge, such as Research Software Engineers (RSE) or Data Stewards.
</p>
<p>
  For questions regarding EnhanceR or the event, reach out to us at <a href="mailto:office@enhancer.ch">office@enhancer.ch</a>
</p>
<p>
  EnhanceR thanks UNIFR and HEG-FR for providing the venue and co-organizing the event.
</p>

<h3 class="enhancer-section">Previous Events</h3>

<p>Looking for previous EnhanceR Symposium materials? Visit the <a href="https://symposium2022.enhancer.ch/">2022</a>, <a href="https://symposium2023.enhancer.ch/">2023</a> or <a href="https://symposium2024.enhancer.ch/">2024</a> edition website.</p>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "EnhanceR Symposium 2025",
    "startDate": "2025-09-04",
    "endDate": "2025-09-04",
    "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
    "eventStatus": "https://schema.org/EventScheduled",
    "location": {
      "@type": "Place",
      "name": "HEG-FR",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Chemin du Musée 4",
        "addressLocality": "Fribourg",
        "postalCode": "1700",
        "addressRegion": "FR",
        "addressCountry": "CH"
      }
    },
    "url": "https://symposium.enhancer.ch/",
    "image": [
      "https://symposium.enhancer.ch/img/Symposium2025_social.png"
    ],
    "description": "An in-person event for members of the Swiss research IT and RSE community, the EnhanceR Symposium provides a platform for professionals to meet, network, and exchange knowledge. Focus topic for 2025 is \"Swiss RSE in action\".",
    "organizer": {
      "@type": "Organization",
      "name": "EnhanceR",
      "url": "https://enhancer.ch/"
    }
  }
  </script>