---
title: Materials | EnhanceR Symposium 2024
layout: layouts/symposium2024
date: Last Modified
---

<p>Looking for materials from previous years? Visit the <a href="https://symposium2022.enhancer.ch/materials/">2022 edition</a> or <a href="https://symposium2023.enhancer.ch/materials/">2023 edition</a> website.</p>

<h3 class="enhancer-section">Plenary session materials</h3>
{% for schedule_item in schedule %}
{% if schedule_item.materials %}
<p>
  <b>{{schedule_item.name}}</b><br>by {{schedule_item.host}}
  <ul>
    {% for material in schedule_item.materials %}
    <li>
      <span><a href="{{material.url}}" {% if material.aria_label %}aria-label="{{materal.aria_label}}"{% endif %} target="_blank">{{material.name}}</a></span>
      {% if material.image %}<a href="{{material.url}}" target="_blank"><img class="material-image" src="{{material.image}}" alt="{{material.alt}}"></a>{% endif %}
    </li>
    {% endfor %}
  </ul>
</p>
{% endif %}
{% endfor %}

<h3 class="enhancer-section">Show-and-tell session materials</h3>

{% for presentation in schedule_full.presentations %}
{% if presentation.materials %}
<p>
  <b>{{presentation.name}}</b><br>by {{presentation.host}}
  <ul>
    {% for material in presentation.materials %}
    <li><a href="{{material.url}}" target="_blank">{{material.name}}</a></li>
    {% endfor %}
  </ul>
</p>
{% endif %}
{% endfor %}