---
title: Registration | EnhanceR Symposium 2024
description: Registration for EnhanceR Symposium 2024 is closed!
layout: layouts/symposium2024
date: Last Modified
---
<h3 class="enhancer-section">Registration</h3>

{#<p>The registration for the event is open until Oct 24th, 2024.</p>

<p>Participation is free of charge, but the number of places is limited. Registrations will be treated on a first come, first served basis.</p>

<p><a class="btn btn-primary" href="https://forms.gle/tAtXHsMmuz1CoNVGA">Registration form</a></p>

<p>If you have any questions, contact the organizers at <a href="mailto:office@enhancer.ch">office@enhancer.ch</a></p>#}

<p>Registration for the 2024 event is now closed.</p>

<p>If you still want to join, or have questions regarding the event, please reach out to <a href="mailto:office@enhancer.ch">office@enhancer.ch</a></p>

<h3 class="enhancer-section">Participants</h3>

<p>List of registered participants is below. If you don't see yourself here but are planning to attend, please contact us!</p>

<ul>
  {% for participant in participants %}
  <li>{{ participant.name }}{% if participant.affiliation %} ({{participant.affiliation}}){% endif %}</li>
  {% endfor %}
</ul>
