---
title: Registration | EnhanceR Symposium 2022
layout: layouts/symposium2022
date: Last Modified
---
Registration for the 2022 event is closed.

If you want to join at the last minute, please confirm with <a href="mailto:office@enhancer.ch">office@enhancer.ch</a>