---
title: Timetable | EnhanceR Symposium 2025
layout: layouts/symposium2025
date: Last Modified
---
<h3 class="enhancer-section">Timetable</h3>

<p>EnhanceR Symposium 2025 will take place at HEG-FR on <b>Thursday, September 4th, 2025.</b></p>

<p>The timetable of the event is still subject to change, but the current plan is presented below.</p>

{# <p><a href="/materials/">Materials</a> of some talks are available.</p> #}

<table class="schedule-table">
  <thead>
    <tr><th scope="col" colspan="2">Overview schedule</th></tr>
  </thead>
  <tbody>
    {% for event in schedule %}
    <tr>
      <td class="timespan">{{event.start}}–{{event.end}}</td>
      <td class="event-name">{% if event.type == "keynote" %}<b>Keynote:</b> {% elif event.type == "plenary" %}<b>Plenary:</b> {% elif event.type == "teaser" %}<b>Teaser Talks:</b> {% endif %}{{event.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{# <h3 class="enhancer-section">Preliminary Show-and-tell List</h3>

<p>Specific time slots for presentations coming soon!</p>

<ul>
  {% for presentation in schedule_full.presentations|sort(attribute='name') %}
  <li>
    {{presentation.name}} ({{presentation.host}}){% if not presentation.confirmed %} [TBC]{% endif %}
  </li>
  {% endfor %}
</ul> #}

{# <table class="schedule-table-full">
  <thead>
    <tr><th scope="col" colspan="{{ schedule_full.stations.length + 1 }}">Full schedule</th></tr>
    <tr>
      <th class="blank-corner"></th>
      {% for station in schedule_full.stations %}
      <th scope="col">{{station.name}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for scheduleItem in schedule_full.schedule %}
    <tr>
      {% if scheduleItem.merged %}
      <td class="timespan"><b>{{scheduleItem.start}}–{{scheduleItem.end}}</b></td>
      <td class="event-name" colspan="{{ schedule_full.stations.length }}">{{scheduleItem.name}}</td>
      {% else %}
        <td class="timespan">{{scheduleItem.name}}<br><b>{{scheduleItem.start}}–{{scheduleItem.end}}</b></td>
        {% for station in schedule_full.stations %}
        {% set presentation = scheduleItem.presentations[station.code] %}
        <td class="presentation-name"
          {% if presentation.bgStyle %}style="{{presentation.bgStyle}}"{% endif %}
          data-timeslot="{{scheduleItem.timeslot}}" data-station="{{station.code}}"
        >
          {{presentation.name}}{% if not presentation.confirmed %} [TBC]{% endif %}<br><span class="host">{{presentation.host}} ({{presentation.affiliation}})</span>
        </td>
        {% endfor %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script src="/js/wantToSee.js" defer></script>

<table class="sessions-table">
  <thead>
    <tr><th id="sessions-header" scope="col" colspan="{{ schedule_full.maxRepeats + 1 }}">Show-and-tell sessions</th></tr>
    <tr>
      <th>Topic and host</th>
      {% for i in range(0, schedule_full.maxRepeats) %}
      <th>Session {{i + 1}}</th>
      {% endfor %}
      <th hidden class="want-to-see">Want to see</th>
    </tr>
  </thead>
  <tbody>
    {% for presentation in schedule_full.presentations %}
    {% set outer_loop = loop %}
    <tr style="{{presentation.bgStyle}}">
      <td class="event-name">{{presentation.name}}{% if not presentation.confirmed %} [TBC]{% endif %}<br><span class="host">{{presentation.host}} ({{presentation.affiliation}})</td>
      {% for i in range(0, schedule_full.maxRepeats) %}
      <td class="timespan"
        {% if presentation.slots[i] %}
        data-timeslot="{{presentation.slots[i].timeslot}}"
        data-station="{{presentation.slots[i].station}}"
        {% endif %}
        data-code="{{presentation.code}}"
      >
        {% if presentation.slots[i] %}
        <b>{{presentation.slots[i].timeslot}}{{presentation.slots[i].station}}</b><br>
        {{presentation.slots[i].start}}–{{presentation.slots[i].end}}
        {% else %}
        <b>N/A</b>
        {% endif %}
      </td>
      {% endfor %}
      <td hidden class="want-to-see"><input type="checkbox" data-code="{{presentation.code}}"></td>
    </tr>
    {% endfor %}
  </tbody>
</table> #}
