---
title: Timetable | EnhanceR Symposium 2022
layout: layouts/symposium2022
---
<p>EnhanceR Symposium 2022 will take place in Bern on <b>Tuesday, November 29, 2022.</b></p>

<p>Start time: 10:00<br>
Expected end time: 16:00</p>

<p><em>The timetable is TBD based on the number of submissions.</em></p>

<p>
  The list of submitted topics to date includes:
  <ul>
  {% for topic in topics|sort %}
    <li>{{topic}}</li>
  {% endfor %}
  </ul>
</p>