<nav class="enhancer-lb-bg mb-2">
  <ul class="nav fw-bold enhancer-nav">
    {% for item in nav %}
    <li>
      <a href="{{item.url}}" class="nav-link{% if page.url == item.url %} active{% endif %}"><div>{{item.name}}</div></a>
    </li>
    {% endfor %}
  </ul>
</nav>