<nav class="enhancer-lb-bg mb-2">
  <ul class="nav fw-bold enhancer-nav">
    <li>
      <a href="/" class="nav-link"><div>Home</div></a>
    </li>
    <li>
      <a href="/timetable/" class="nav-link"><div>Timetable</div></a>
    </li>
    <li>
      <a href="{{ registration.url }}" class="nav-link"><div>Registration</div></a>
    </li>
  </ul>
</nav>