---
layout: layouts/base
---
<header class="text-center enhancer-blue-bg py-2 d-flex flex-column flex-md-row">
  <div>
    <img class="enhancer-logo" src="/img/EnhanceR_logo.svg">
  </div>
  <div class="flex-grow-1 mx-2">
    <h1 class="enhancer-main-heading"><a href="/" class="title-url">EnhanceR Symposium 2024</a></h1>
    <h2>Research IT contribution to FAIRness</h2>
  </div>
</header>
{% include 'components/nav.njk' %}
<main>
  {{ content | safe }}
</main>